### CI Maven Repository ###
.m2/

### Compiled jar For Local Dockerfile ###
!target
target/*
!target/*.jar

### Git ###
.git
.gitignore

### Docs ###
README.md

### Gitlab ###
gitlab-ci.yml

### Intellij ###
.idea
.run

### Maven ###
!.mvn
.mvn/*
!.mvn/settings.xml
mvnw
mvnw.cmd